machine {{ sensorfleet_repos_repository_fleet }}
login {{ sensorfleet_repos_repository_login }}
password {{ sensorfleet_repos_repository_password }}

machine {{ sensorfleet_repos_repository_os }}
login {{ sensorfleet_repos_repository_login }}
password {{ sensorfleet_repos_repository_password }}
