      {
        "target": "{{ inventory_hostname_short }}",
        "version": 10,
        "uuid": "457deede-3fda-4ef9-a4ab-f7afcbf7f2e3",
        "timestamp": 0.0,
        "source_instrument": "imaginary",
        "config": {
          "homenets": [],
          "instruments": {},
          "bridges": {},
          "user_management": {
            "enabled": true
          }
        }
      }
