deb {{ sensorfleet_repos_repository_os }} {{ sensorfleet_repos_os_release }} main restricted universe multiverse
deb {{ sensorfleet_repos_repository_os }} {{ sensorfleet_repos_os_release }}-updates main restricted universe multiverse
deb {{ sensorfleet_repos_repository_os }} {{ sensorfleet_repos_os_release }}-security main restricted universe multiverse
